<!DOCTYPE html>
<html>
<head>
    <title>Student Marklist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Student Marklist</h1>
        <a href="/add"><button>Add New Student</button></a>
        <table>
            <tr>
                <th>Name</th>
                <th>Roll No</th>
                <th>Mark</th>
                <th>Actions</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.roll }}</td>
                <td>{{ student.mark }}</td>
                <td>
                    <a href="/update/{{ student._id }}"><button>Edit</button></a>
                    <a href="/delete/{{ student._id }}"><button>Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>